$nav-title-mobile-font-size: 50px;
$nav-title-web-font-size: 24px;

$web-breakpoint: 1024px;

.nav-title {
	font-size: $nav-title-mobile-font-size;

	@media screen and (min-width: $web-breakpoint) {
		font-size: $nav-title-web-font-size;
	}
}

.ui.inverted.menu {
	&.nav-square-border {
		border-radius: 0px;
	}	
}
